@import url(./style.css);

body {
  background-color: rgb(240, 236, 231);
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

form {
  width: 80%;
  display: flex;
  margin: 0 auto;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

h1 {
  text-align: center;
  font-size: 3rem;
  margin: 2rem auto;
}

h2 {
  text-align: center;
  font-size: 2rem;
  margin: 2rem auto;
}

.inputs {
  text-align: center;
}

header nav {
  color: black;
}

footer {
  height: 150px;
  margin: 0 10%;
  background-color: rgb(240, 236, 231);
  color: black;
}

.bi {
  color: black;
  font-size: 48px;
  padding: 0 20px;
}

.socialmedia {
  display: flex;
  justify-content: center;
  padding-top: 30px;
}
